<h1>Esta es la web para practicar ANGULAR </h1>
<h2> Se llama: {{title}}</h2>
<h4> Autor: {{nombre}} </h4>

<!-- llamo invoco a mi componente mediante la etiqueta que se genera tras haberlo declarado -->
<mi-componente></mi-componente>


<!-- div le agrega una division o un recuadro a todo lo que sencuentro dentro de su tag -->
<!-- propiedad style define aspectos visuales en este caso del div -->
<!-- color puede ser por nombre ej red blue etc -->
<!-- o tambien puede ser mediante espectro rgb ej rgb(47, 175, 122) -->
<div style="border: 3px solid rgb(47, 175, 122)">
<segundo-componente></segundo-componente>
</div>